<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seg02.oursudoku.mapper.AccountMapper">

    <select id="selectByName" resultType="com.seg02.oursudoku.entity.Account">
        select account_ID, account_pwd, account_profile_photo, account_nickname, account_signature, account_phone, account_age, account_sex, account_education, account_level from account where account_nickname = BINARY #{name}
    </select>

    <update id="updateMaxID">
        update static_info
        set account_count = account_count + 1
        where id = 1
    </update>

    <select id="selectMaxId" resultType="string">
        select account_count
        from static_info
        where id = 1
    </select>

    <select id="selectByPhone" resultType="com.seg02.oursudoku.entity.Account">
        select account_ID, account_pwd, account_profile_photo, account_nickname, account_signature, account_phone, account_age, account_sex, account_education, account_level from account where account_phone = #{phone}
    </select>

    <select id="selectNameById" resultType="string">
        select account_nickname from account where account_ID = #{id}
    </select>

    <select id="selectPublicMessage" resultType="com.seg02.oursudoku.entity.AccountPublic">
        select account_profile_photo,account_nickname,account_signature,account_level
        from account
        where account_ID = #{Aid}
    </select>

    <select id="selectLevelById" resultType="int">
        select account_level from account where account_ID = #{Aid}
    </select>

</mapper>
