<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seg02.oursudoku.mapper.RateMapper">

    <select id="selectByCount" parameterType="list" resultType="com.seg02.oursudoku.entity.Rate">
        select rate_id, account_ID, rate_game_count, rate_avg_time, rate_number, rate_state
        from rate
        where rate_id > (#{rateCount} - 1) * #{rateCount}
        order by rate_id
        limit #{rateCount}
    </select>

    <select id="selectRateCount" resultType="int">
        select MAX(rate_id)
        from rate
    </select>

    <select id="getGameCount" resultType="int">
        select game_count
        from static_info
    </select>

    <select id="getGamePeople" resultType="int">
        select game_people
        from static_info
    </select>
</mapper>
