<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seg02.oursudoku.mapper.RateMapper">

    <select id="selectByCount" parameterType="list" resultType="com.seg02.oursudoku.entity.Rate">
        select rate_id, account_ID, rate_game_count, rate_avg_time, rate_number, rate_state
        from rate
        order by rate_id
    </select>

    <select id="selectRateCount" resultType="int">
        select MAX(rate_id)
        from rate
    </select>

    <select id="getGameCount" resultType="int">
        select game_count
        from static_info
    </select>

    <select id="getGamePeople" resultType="int">
        select game_people
        from static_info
    </select>

    <delete id="clear">
        delete
        from rate
    </delete>

    <insert id="insertList" parameterType="list">
        INSERT INTO oursudoku.rate (rate_id, account_ID, rate_game_count, rate_avg_time, rate_number, rate_state)
        VALUES
        <foreach collection="list" item="ri" index="index" separator=",">
            (
            #{ri.rateId},
            #{ri.accountId},
            #{ri.rateGameCount},
            #{ri.rateAvgTime},
            #{ri.rateNumber},
            #{ri.rateState}
            )
        </foreach>
    </insert>

    <update id="updateInfo">
        update static_info
        set game_count  = game_count + #{gc},
            game_people = game_people + #{pc}
        where id = 1
    </update>
</mapper>
